* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 5%;
  padding-right:25%;
}
.logo {
  color: rgb(255, 255, 255);
 
}
span {
  color: rgb(54, 20, 1);
  background-color: rgb(255, 255, 255); /* Set the background color */  
  border-radius: 8px; /* Adjust the value for more or less rounding */  
  padding: 5px; /* Optional: Add some padding around the logo */  
  display: inline-block;
  font-weight: 800  ;  
}
  span:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(21, 10, 4, 1);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgb(255, 255, 255); 

  }
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav ul li a:hover{
  color: rgba(21, 10, 4, 1);
  transition: 0.3s;
}
.hamburger{
  display:none;
}

.card{
  margin: 150px 6%;
  padding: 1em;
  width: 300px;
  background:white;
  text-align: center;
  border-radius: 10px;
  position:static;
  color:rgba(21, 10, 4, 1);
}
.card:hover{
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  transition: 0.3s;
  background:rgba(21, 10, 4, 1);
  color: white;
}
.sidebar{
  display: none;
}

@media (max-width: 978px) {
.sidebar{
  font-size:larger;
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.hideOnmobile{
  display: none;
}
.hamburger{
  /* i want to align my hamburger on end  */
  margin-right: -80px;
display:flex;
}
}
@media (max-width:1161px){
  nav{
  padding-right:20%;
}
}
@media (max-width:1087px){
  nav{
  padding-right:15%;
}
}
@media(max-width: 400px) {
  .sidebar{
  width: 100%;
  }
}
@media (max-width:840px){
  .card{
    margin: 115px 6%;
  }
}